<script id="main" type="text/template">
  <pre class="line-numbers language-javascript">
    <button type="button" class="close">×</button>
    <code class="language-javascript">
      {{=it.str}}
    </code>
  </pre>
</script>
<script id="button" type="text/template">
  <button type="button" class="close">×</button>
</script>
<script id="style" type="text/template">
  .code-box {
    z-index: 100;
  }
  .code-content,
  .code-content pre {
    margin-top: 0;
    height: 100%;
    border-radius: 0;
    margin-right: 5px;
    background: none;
  }
</script>
