<script id="main" type="text/template">
  <div id="{{=it.id}}" class="{{=it.class}}" data-name="comp-layout">
    <section></section>
  </div>
</script>
<script id="section" type="text/template">
  <section class="{{=it.class}}">
  </section>
</script>
