<script id="main" type="text/template">
  <div class="resizable">
  </div>
</script>
<script id="style" type="text/template">
  .resizable {
    position: relative;
  }
  .resizable .inner {
    position: absolute;
  }
</script>