<script id="main" type="text/template">
  <div class="tooltiptext" data-bind-name="tooltip-full"></div>
</script>
<script id="style" type="text/template">
  .tooltip.component {
    position: fixed; top: 0; left 0;
    display: none; opacity: 1; z-index: 5000;
  }
  .tooltip.component .tooltiptext {
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px !important;
    position: absolute;
    z-index: 1;
  }
</script>