<script id="main" type="text/template">
  <pre class="line-numbers language-javascript">
    <button type="button" class="close">×</button>
    <code class="language-javascript">
      {{=it.str}}
    </code>
  </pre>
</script>
<script id="style" type="text/template">
  .code-edit {
    z-index: 100; height: 100%;
  }
  .code-edit > button {
    position: absolute; top: 5px; right: 30px; z-index: 1000;
  }
</script>
