.carousel.carousel-fit {
  position: relative; margin-top: 10%;
}
.carousel.carousel-fit.slide {
  overflow: hidden;
}
.carousel.carousel-fit .carousel-inner > .next,
.carousel.carousel-fit .carousel-inner > .prev {
  bottom: 0;
}
.carousel.carousel-fit .carousel-inner > .item {
  text-align: center;
}
.carousel-inner {
  width: 200%;
}
.carousel-inner > .item {
  width: 50%; float: left;
}
.carousel-inner > .item > div {
  display: inline-block; position: relative; height: auto;
}
.carousel-inner.prev {
  left: -100%;
}
.carousel-inner.move {
  -webkit-transition: .6s ease-in-out margin-left;
  -o-transition: .6s ease-in-out margin-left;
  transition: .6s ease-in-out margin-left;
}
.carousel-inner > .item.active,
.carousel-inner > .item.out {
  display: block;
}
.carousel-inner.move.right {
  margin-left: 100%;
}
.carousel-inner.move.left {
  margin-left: -100%;
}
.carousel-inner.move.cycle > .item {
  float: right;
}
.carousel.carousel-fit .carousel-inner > .item > img {
  display: inline-block;
}
.carousel.carousel-fit .carousel-inner > .item .carousel-caption {
  bottom: 0; left: 0; right: 0; width: 100%;
}
.modal-footer .carousel-control {
  top: 10px; background-image: none;
}
.modal-footer .carousel-control span:hover {
  font-size: 200%;
  -webkit-transition: -webkit-transform 2s ease-in-out;
  -o-transition: -o-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}
.modal-footer .carousel-control.left span:hover {
  margin: -15px 0 0 -15px;
}
.modal-footer .carousel-control.right span:hover {
  margin: -15px -5px 0 0;
}
.modal-header .btn .glyphicon {
  margin-right: 4px; top: 3px; font-size: 1.1em;
}
.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
  top: 0; bottom: 0; left: 0; right: 0;
  position: absolute;
}
.modal.modal-fullscreen .modal-dialog {
  margin: 0;
  width: 100%;
}
.modal.modal-fullscreen .modal-content {
  border: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  -o-box-shadow: inherit;
  box-shadow: inherit;
  background: rgba(0, 0, 0, .5);
}
.modal.modal-fullscreen.force-fullscreen .modal-body {
  padding: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  left: 0;
  position: absolute;
  right: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header {
  top: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  bottom: 20px;
}