<script id="main" type="text/template">
  <div id="{{=it.id}}"{{? it.class }} class="{{=it.class}}"{{?}} data-name="test">
    <section></section>
  </div>
</script>
<script id="section" type="text/template">
  <section{{? it.class }} class="{{=it.class}}"{{?}}>
  </section>
</script>
